###python basics

### python basics

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
5//2

2

In [4]:
5/2

2.5

In [5]:
type(4)

int

In [6]:
type(4/2)

float

In [7]:
type('sheem')

str

In [8]:
a=1
b=3
c=a^b
c

2

In [9]:
type(c)

int

In [11]:
type(True or False)

bool

In [12]:
True and False ##bitwise

False

In [13]:
True | False  ##logical operator

True

In [14]:
a=10
b=10
a+b>30

False

In [15]:
a=10
b=10
a+b>30 | a-b>30

False

In [16]:
a=10
b=10
a+b>30 | a-b<10

False

In [17]:
a=10
b=10
a+b>30 | a-b<10

False

In [18]:
a=10
b=45
a+b>45 | b-a<40

False

In [19]:
a=10
b=45
a+b>55 | b-a<40

False

In [20]:
a=10
b=20
a+b>30 | a-b<10

True

In [21]:
a=10
b=20
a+b>30 or a-b<10

True

In [22]:
###strings

In [23]:
"sheema here"

'sheema here'

In [24]:
str1="sheema zainab" ##storing in variable

In [25]:
str1

'sheema zainab'

In [26]:
str(1)   ##to know functionalities/descriptions of inbuil funcs shift+tab

'1'

In [27]:
print(str1)

sheema zainab

In [28]:
str2='iqra samar'

In [29]:
str2+str1

'iqra samarsheema zainab'

In [30]:
str2+ str1

'iqra samarsheema zainab'

In [31]:
str2+" "=str1

SyntaxError: can't assign to operator (<ipython-input-31-cd1953005bf0>, line 1)

In [32]:
str2+" "+str1

'iqra samar sheema zainab'

In [33]:
name=input("whats ur name")
print(name)

whats ur namesheema
sheema

In [34]:
a=input("enter ")
b=input("enter ")
c=a+b
print("output is",c)

enter 2
enter 3
output is 23

In [36]:
a=float(input("enter "))  ##typecasting
b=float(input("enter ")) 
c=a+b
print("output is",c)

enter 2
enter 3
output is 5.0

In [37]:
a=input("name") ##string formatting
b=input("name")
c=a+b
print("ello",a,b)

nameshee
namezain
ello shee zain

In [38]:
a=input("name") 
b=input("name")
c=a+b
print("ello there and here ",a,b)

namesheema
namezainab
ello there and here  sheema zainab

In [39]:
a=input("name") 
b=input("name")
c=a+b
print("ello there {} and here {} ".format(a,b))

namesheema
namezainab
ello there sheema and here zainab

In [40]:
"sheea" + "1"

'sheea1'

In [41]:
'sheema'+1

TypeError: can only concatenate str (not "int") to str

### conditonal

In [43]:
a=int(input("number1:"))
b=int(input("number1:"))
c=a-b
if c<0:
    print("the number is negative")
elif c>49:
    print("huge diff")
else:
    print("the number is positive")

number1:98
number1:34
huge diff

In [44]:
lst=[1,2,3,"sheem"]

In [45]:
lst

[1, 2, 3, 'sheem']

In [46]:
type(lst(1))

TypeError: 'list' object is not callable

In [47]:
type(lst[1])

int

In [48]:
type(lst)

list

In [49]:
lst.append('sheem')

In [50]:
lst

[1, 2, 3, 'sheem', 'sheem']

In [51]:
lst.count("sheem")

2

In [52]:
##INDEXING
str1="sheema"
str1[2]

'e'